<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\KonturDB.mdf;Integrated Security=True;Application Name=KonturServer;" providerName="System.Data.SqlClient" />  
  </connectionStrings>
</configuration>