<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\EMaklakov\Source\Repos\Kontur.GameStats\Kontur.GameStats.Server\KonturDB.mdf;Integrated Security=True;Application Name=KonturServer;" providerName="System.Data.SqlClient" />  
  </connectionStrings>
</configuration>